
.navbar .navbar-nav{
    height: 40px;
    align-items: center;
    justify-content: space-between !important;
    
}
.navbar .navbar-nav a{
    text-align: end !important;
    margin-left: 20px !important;
}
.footer{
    position: static;
    width: 100%;
    bottom: 0;
    
}